@using Microsoft.AspNetCore.Identity
@using SPhone.Models;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex align-items-center text-decoration-none text-dark header-top-account-link">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xìn chào @UserManager.GetUserName(User)!</a>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
        </form>
    </div>
}
else
{
    <div class="d-flex align-items-center text-decoration-none text-dark header-top-account-link">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </div>

    @*<a href="#" class="d-flex align-items-center text-decoration-none text-dark header-top-account-link">
        <i class="fa-solid fa-user me-2"></i>
        <span>Đăng nhập/Đăng ký</span>
    </a>*@
}

